<div class="row pt-4 justify-content-center">
  <div class="card" style="width: 50%">
    <div class="card-header"><h2>Sign Up</h2></div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="card-body">
        <div class="form-group">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true, class: "form-control" %>
        </div>
        
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>

          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
          <br />
            
          <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confrimation %>
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
        </div>
      </div>

      <div class="card-footer">
        <div class="row justify-content-between mx-auto">
          <%= f.submit "Sign Up", class: "btn btn-primary" %>
          <%= link_to "Cancel", todo_lists_path, class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
