<div class="card" style="width: 70%">
  <%= form_with model: @todo_list do |form| %>
    <div class="card-header">
      <% if current_page?(action: :new) %>
        <h2>Add New To-Do List</h2>
      <% elsif current_page?(action: :show) %>
        <h2><%= @todo_list.title %></h2>
      <% elsif current_page?(action: :edit) %>
        <h2>Edit <%= @todo_list.title %></h2>
      <% end %>
    </div>

    <div class="card-body">
      <div class="form-group">
        <%= form.label :title, "Title" %>
        <%= form.text_field :title, class: "form-control" %>

        <% @todo_list.errors.full_messages_for(:title).each do |error| %>
          <div><%= error %></div>
        <% end %>
      </div>

      <div class="form-group">
        <%= form.label :description, "Description" %>
        <%= form.text_area :description, rows: 6, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.check_box :completed %>
        <%= form.label :completed, "Mark as complete" %>
      </div>
    </div>

    <div class="card-footer">
      <div class="row justify-content-between mx-auto">
        <%= form.submit class: "btn btn-success" %>
        <%= link_to "Cancel", @todo_list, class: "btn btn-secondary" %>
      </div>
    </div>

  <% end %>
</div>
