<td style="width: 19.33%;">
  <div class="d-inline-flex pr-2">
    <div class="mr-2">
      <% if list.completed %>
        <%= form_for(list) do |f| %>
          <%= f.check_box :completed, hidden: true, checked: false %>
          <%= button_tag type: :submit, class: "btn btn-primary btn-sm" do %>
            <span>
              <i class="fas fa-trash-restore fa-2x"></i>
            </span>
          <% end %>
        <% end %>
      <% else %>
        <%= form_for(list) do |f| %>
          <%= f.check_box :completed, hidden: true, checked: true %>
          <%= button_tag type: :submit, class: "btn btn-success btn-sm" do %>
            <span>
              <i class="fas fa-check-square fa-2x"></i>
            </span>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <%= link_to list, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: "Are you sure?" } do %>
      <span>
        <i class="fas fa-times-circle fa-2x"></i>
      </span>
    <% end %>
  </div>
</td>
