<% if list.completed %>
  <td style="width: 20.33%;">
    <del><%= link_to list.title, list, style: "color: gray; font-style: italic" %></del>
  </td>
<% else %>
  <td style="width: 20.33%;">
    <%= link_to list.title, list %>
  </td>
<% end %>
