<td style="width: 15%">
  <% if list.completed %>
    <i class="fas fa-check-circle fa-2x" style="color:green;"></i>
  <% else %>
    <span>
      <%= link_to edit_todo_list_path(list) do %>
        <span>
          <i class="fas fa-spinner fa-2x"></i>
        </span>
      <% end %>
    </span>
  <% end %>
</td>
