<% if list.completed %>
  <td style="width: 45.33%;">
    <% if list.description.length > 70 %>
      <del><%=
        link_to list.description.split(' ').each_with_object('') { |x, ob| break ob unless (ob.length + ' '.length + x.length <= 70); ob << (' ' + x) }.strip + '...',
        list, style: "color: gray; font-style: italic" 
      %></del>
    <% else %>
      <del><%= link_to list.description, list, style: "color: gray; font-style: italic;" %></del>
    <% end %>
  </td>
<% else %>
  <td style="width: 45.33%;">
    <% if list.description.length > 70 %>
      <%=
        link_to list.description.split(' ').each_with_object('') { |x, ob| break ob unless (ob.length + ' '.length + x.length <= 70); ob << (' ' + x) }.strip + '...',
        list 
      %>
    <% else %>
      <%= link_to list.description, list %>
    <% end %>
  </td>
<% end %>
