<% if current_user %>
  <div class="container mt-4" style="width: 100%;">
    <div class="d-flex justify-content-between mb-4">
      <div class="btn-group" role="group">
        <span class="btn btn-info">Today: <%= @today %></span>
        <span class="btn btn-outline-primary">Incomplete To-Do Lists</span>
      </div>

      <div class="btn-group" role="group">
        <%= link_to "Back", todo_lists_path, class: "btn btn-outline-primary" %>
      </div>
    </div>
      <% @incomplete_lists.each do |list| %>
        <tr>
        </tr>
      <% end %>

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <td scope="col"><b>Title</b></td>
          <td scope="col"><b>Description</b></td>
          <td scope="col"><b>Action</b></td>
          <td scope="col"><b>Status</b></td>
        </tr>
      </thead>

      <tbody>
        <% @incomplete_lists.each do |list| %>
          <tr>
            <%= render partial: "todo_list_title", locals: { list: list } %>
            <%= render partial: "todo_list_description", locals: { list: list } %>
            <%= render partial: "todo_list_action", locals: { list: list } %>
            <%= render partial: "todo_list_status", locals: { list: list } %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= render partial: 'paggy' %>
  </div>
<% end %>

