<% if current_user %>
  <div class="container mt-4" style="width: 100%;">
    <div class="d-flex justify-content-between mb-4">
      <span class="btn btn-info">Today: <%= @today %></span>

      <div class="btn-group" role="group">
        <%= link_to "Incomplete Todo-Lists", incomplete_path, class: "btn btn-outline-primary" %>
        <%= link_to "New Todo-List", new_todo_list_path, class: "btn btn-primary" %>
      </div>
    </div>

    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <td scope="col"><b>Title</b></td>
          <td scope="col"><b>Description</b></td>
          <td scope="col"><b>Action</b></td>
          <td scope="col"><b>Status</b></td>
        </tr>
      </thead>

      <tbody>
        <% @todo_lists.each do |list| %>
          <tr>
            <%= render partial: "todo_list_title", locals: { list: list } %>
            <%= render partial: "todo_list_description", locals: { list: list } %>
            <%= render partial: "todo_list_action", locals: { list: list } %>
            <%= render partial: "todo_list_status", locals: { list: list } %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= render partial: 'paggy' %>
  </div>
<% end %>
