<div class="col">
  <div class="row justify-content-center">
    <div class="card" style="width: 70%;">
      <div class="card-header mb-2">
        <h2>
          <span class="pr-2">
            <i class="fas fa-clipboard-list"></i>
          </span>
          <%= @todo_list.title %>
        </h2>
      </div>

      <div class="card-body">
        <div class="mb-4">
          <%= @todo_list.description %>
        </div>
        
        <div id="todo_items_wrapper">
          <h5 class="mb-4">
            <i class="fas fa-tasks pr-2"></i>
            Tasks
          </h5>

          <%= render @todo_list.todo_items.order(:completed, created_at: :desc) %>
          <div id="form">
            <%= render "users/todo_items/form" %>
          </div>
        </div>

        <div>
          <% if @todo_list.completed == false %>
            <%= form_for(@todo_list) do |f| %>
              <%= f.check_box :completed, checked: true, hidden: true %>
              <%= f.submit "Mark Todo-List Completed", class: "btn btn-success btn-sm" %>
            <% end %>
          <% elsif @todo_list.completed == true %>
            <%= form_for(@todo_list) do |f| %>
              <%= f.check_box :completed, checked: false, hidden: true %>
              <%= f.submit "Mark Todo-List Incomplete", class: "btn btn-warning btn-sm" %>
            <% end %>
          <% end %>
        </div>
      </div>


      <div class="card-footer">
        <div class="row justify-content-between mx-auto">
          <div>
            <%= link_to "Edit", edit_todo_list_path, class: "btn btn-info" %>
            <%= link_to "Back", todo_lists_path, class: "btn btn-secondary" %>
          </div>
          <%= link_to "Delete", todo_list_path, method: "DELETE", data: { cofirm: "Are you sure?" }, class: "btn btn-danger" %>
        </div>
      </div>
     </div>
  </div>
</div>
