<div class="row pt-4 justify-content-center">
  <div class="card" style="width: 50%;">
    <div class="card-header"><h2>Sign In</h2></div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="card-body">
        <div class="form-group">
          <%= f.label :login %>
          <%= f.text_field :login, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>

      <div class="card-footer">
        <div class="row justify-content-between mx-auto">
          <%= f.submit "Sign In", class: "btn btn-primary" %>
          <%= link_to "Cancel", todo_lists_path, class: "btn btn-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
