<div class="container">
  <%= form_for([@todo_list, @todo_list.todo_items.build]) do |f| %>
    <div class="form-group"> 
      <div class="d-flex row justify-content-between">
        <%= f.text_field :description, 
          class: "form-control", style: "width: 85.5%;",
          placeholder: "New Task"
        %>
        <%= f.submit "Create Task", class: "btn btn-success btn-sm" %>
      </div>
    </div>
  <% end %>
</div>
