<div class="container" style="width: 100%;">
  <div class="d-flex col justify-content-between mx-auto mb-2">
    <% if todo_item.completed %>
      <div class="justify-content-between" style="color: gray; font-style: italic; width: 90%">
        <span class="pr-2">
          <i class="fas fa-check-circle fa-2x" style="color:green;"></i>
        </span>
        <del><%= todo_item.description %></del>
      </div>
    <% else %>
      <p style="width: 90%;"><%= todo_item.description %></p>
    <% end %>

    <div class="d-flex row justify-content-between">
      <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id), method: :delete do %>
        <span class="pr-2">
          <i class="fas fa-times-circle fa-2x" style="color:red;"></i>
        </span>
      <% end %>
      <% if todo_item.completed %>
        <%= link_to todo_list_todo_item_path(@todo_list, todo_item.id),
          method: :patch do
        %>
          <span class="pr-2">
            <i class="fas fa-trash-restore fa-2x" style="color:gray;"></i>
          </span>
        <% end %>
      <% else %>
        <%= link_to completed_todo_list_todo_item_path(@todo_list, todo_item.id),
          method: :patch do
        %>
          <span class="pr-2">
            <i class="fas fa-check-square fa-2x" style="color:green;"></i>
          </span>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
