<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">ToDo Classic</a>

  <div class="collapse navbar-collapse w-200 order-3 dual-collapse2">
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
        <li class="nav-item p-2"><%= link_to "Signed in as #{current_user.username}", edit_user_registration_path %>
        <li class="nav-item p-2"><%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      <% else %>
        <li class="nav-item p-2">
          <%= link_to "Sign Up", new_user_registration_path %>
        </li>
        <li class="nav-item ml-auto p-2" >
          <%= link_to "Sign In", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
